@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");
::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: #042c54;
  border-radius: 50vh;
}

input {
  outline: none;
  border: none;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Manrope", sans-serif;
  letter-spacing: 0.4px;
  background-color: #040c18;
  color: white;
  overflow-x: hidden;
}

nav .blur-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}
@media screen and (max-width: 992px) {
  nav .blur-1 {
    display: none;
  }
}
nav .container {
  padding: 24px 0;
}
nav .container .navbar-brand {
  font-weight: 700;
  margin-right: 60px;
}
@media screen and (max-width: 992px) {
  nav .container .navbar-nav {
    margin-bottom: 40px;
  }
}
nav .container .navbar-nav .nav-link {
  font-weight: 500;
  color: white;
  padding: 0 20px;
}
@media screen and (max-width: 992px) {
  nav .container .navbar-nav .nav-link {
    padding: 10px 0;
  }
}
nav .container .cta .signin {
  padding: 16px 40px;
  background-color: transparent;
  text-decoration: none;
  font-weight: 600;
  color: white;
  border-radius: 0;
  padding: 0;
}
nav .container .cta .signup {
  padding: 16px 40px;
  background-color: #ff4820;
  text-decoration: none;
  font-weight: 600;
  color: white;
  border-radius: 4px;
  margin: 0 0 0 24px;
}

.hero {
  margin-bottom: 120px;
}
.hero .row .left {
  padding-top: 120px;
  margin-bottom: 40px;
}
@media screen and (max-width: 992px) {
  .hero .row .left {
    padding-top: 20px;
  }
}
.hero .row .left h1 {
  font-weight: 800;
  font-size: 62px;
  background: linear-gradient(to right, #ae67fa, #f49867);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 992px) {
  .hero .row .left h1 {
    font-size: 48px;
  }
}
.hero .row .left h6 {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #81afdd;
  margin: 40px 0;
  width: 75%;
}
@media screen and (max-width: 992px) {
  .hero .row .left h6 {
    width: 100%;
  }
}
.hero .row .left .email-form {
  margin-bottom: 40px;
}
@media screen and (max-width: 992px) {
  .hero .row .left .email-form {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
  }
}
.hero .row .left .email-form input {
  width: 65%;
  background-color: #042c54;
  color: white;
  padding: 16px 28px;
  border-radius: 4px;
}
@media screen and (max-width: 992px) {
  .hero .row .left .email-form input {
    width: 100%;
    margin-bottom: 8px;
  }
}
.hero .row .left .email-form .get-started {
  padding: 16px 40px;
  background-color: #ff4820;
  text-decoration: none;
  font-weight: 600;
  color: white;
  border-radius: 4px;
  width: 30%;
}
@media screen and (max-width: 992px) {
  .hero .row .left .email-form .get-started {
    width: 180px;
  }
}
.hero .row .left .peoples {
  display: flex;
  justify-content: "";
  align-items: center;
}
@media screen and (max-width: 576px) {
  .hero .row .left .peoples {
    flex-direction: column;
    align-items: start;
  }
}
.hero .row .left .peoples img {
  margin-right: 20px;
  margin-bottom: 8px;
}
.hero .row .left .peoples span {
  font-size: 12px;
}
.hero .row .right {
  position: relative;
}
@media screen and (max-width: 992px) {
  .hero .row .right {
    display: flex;
    justify-content: center;
    align-items: "";
  }
}
.hero .row .right img {
  position: absolute;
  width: 150%;
  height: auto;
  top: -20px;
  right: -150px;
}
@media screen and (max-width: 992px) {
  .hero .row .right img {
    position: static;
    width: 100%;
  }
}

.companies {
  margin-bottom: 120px;
}
.companies .logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 576px) {
  .companies .logos {
    flex-direction: column;
  }
}
.companies .logos img {
  margin: 24px 40px;
}

.about {
  margin-bottom: 160px;
}
.about .about-wrap {
  background-color: #042c54;
  padding: 60px 40px;
}
.about .about-wrap .row-top {
  margin-bottom: 80px;
}
.about .about-wrap .row-top h4 {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 20px;
}
.about .about-wrap .row-top h4::before {
  content: "";
  display: block;
  width: 3rem;
  border-top: 4px solid transparent;
  margin-bottom: 20px;
  background: linear-gradient(to right, #ae67fa, #f49867) border-box;
  margin-top: -12px;
}
.about .about-wrap .row-top p {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #81afdd;
}
.about .about-wrap .row-middle {
  margin-bottom: 100px;
  display: flex;
  justify-content: "";
  align-items: center;
}
.about .about-wrap .row-middle h3 {
  font-size: 34px;
  font-weight: 800;
  line-height: 45px;
  background: linear-gradient(to right, #ae67fa, #f49867);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 992px) {
  .about .about-wrap .row-middle h3 {
    margin-bottom: 40px;
  }
}
.about .about-wrap .row-middle .link-explore {
  display: flex;
  justify-content: end;
  align-items: center;
}
.about .about-wrap .row-middle .link-explore a {
  text-decoration: none;
  font-weight: 500;
  color: #f49867;
}
.about .about-wrap .row-bottom .benefit {
  padding: 0 16px;
}
@media screen and (max-width: 992px) {
  .about .about-wrap .row-bottom .benefit {
    margin-bottom: 60px;
  }
}
.about .about-wrap .row-bottom .benefit h4 {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 32px;
}
.about .about-wrap .row-bottom .benefit h4::before {
  content: "";
  display: block;
  width: 3rem;
  border-top: 4px solid transparent;
  margin-bottom: 20px;
  background: linear-gradient(to right, #ae67fa, #f49867) border-box;
}
.about .about-wrap .row-bottom .benefit p {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #81afdd;
}

.features {
  margin-bottom: 120px;
}
.features .row-top {
  margin-bottom: 40px;
}
.features .row-top .left {
  margin-bottom: 40px;
}
.features .row-top .left h3 {
  font-size: 34px;
  font-weight: 800;
  line-height: 45px;
  background: linear-gradient(to right, #ae67fa, #f49867);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 95%;
  margin-bottom: 40px;
}
.features .row-top .left h6 {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #f49867;
}
.features .row-top .right .feature {
  display: flex;
  justify-content: between;
  align-items: "";
  margin-bottom: 24px;
}
@media screen and (max-width: 992px) {
  .features .row-top .right .feature {
    flex-direction: column;
  }
}
.features .row-top .right .feature h5 {
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  width: 35%;
  margin-right: 40px;
  margin-bottom: 20px;
}
.features .row-top .right .feature h5:before {
  content: "";
  display: block;
  width: 3rem;
  border-top: 4px solid transparent;
  margin-bottom: 6px;
  background: linear-gradient(to right, #ae67fa, #f49867) border-box;
}
@media screen and (max-width: 992px) {
  .features .row-top .right .feature h5 {
    width: 100%;
  }
}
.features .row-top .right .feature p {
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  color: #81afdd;
  line-height: 24px;
  width: 65%;
}
@media screen and (max-width: 992px) {
  .features .row-top .right .feature p {
    width: 100%;
  }
}
.features .row-bottom {
  display: flex;
  justify-content: "";
  align-items: center;
}
.features .row-bottom .left img {
  width: 100%;
  height: auto;
}
.features .row-bottom .right h6 {
  padding: 20px 0;
}
.features .row-bottom .right h6.light-teal {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #71e5ff;
}
.features .row-bottom .right h6.light-orange {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #f49867;
}
.features .row-bottom .right h3 {
  font-size: 34px;
  font-weight: 800;
  line-height: 45px;
  background: linear-gradient(to right, #ae67fa, #f49867);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;
}
.features .row-bottom .right p {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #81afdd;
}

.register {
  margin-bottom: 120px;
}
.register .register-wrap {
  background: linear-gradient(to right, #ae67fa, #f49867);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.register .register-wrap .row-top {
  display: flex;
  justify-content: between;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .register .register-wrap .row-top .left {
    margin-bottom: 24px;
  }
}
.register .register-wrap .row-top .left p {
  font-size: 12px;
  font-weight: 500;
  line-height: 30px;
  color: #81afdd;
  color: #0d0d0d;
  margin-bottom: 0;
}
.register .register-wrap .row-top .left h4 {
  font-size: 24px;
  font-weight: 800;
  color: black;
}
.register .register-wrap .row-top .right {
  display: flex;
  justify-content: flex-end;
  align-items: "";
}
@media screen and (max-width: 992px) {
  .register .register-wrap .row-top .right {
    justify-content: flex-start;
  }
}
.register .register-wrap .row-top .right a {
  padding: 16px 40px;
  background-color: black;
  text-decoration: none;
  font-weight: 600;
  color: white;
  border-radius: 40px;
}

/*# sourceMappingURL=main.css.map */
