@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");
body {
  width: 100%;
  min-height: 100vh;
  font-family: "Manrope", sans-serif;
  letter-spacing: 0.4px;
  background-color: #040c18;
  color: white;
  overflow-x: hidden;
}

nav {
  font-weight: 500;
}
nav .blur-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}
@media screen and (max-width: 992px) {
  nav .blur-1 {
    display: none;
  }
}
nav .container {
  padding: 24px 0;
}
nav .container .navbar-brand {
  font-weight: 700;
  margin-right: 60px;
}
nav .container .navbar-nav .nav-link {
  color: white;
  padding: 0 20px;
}
@media screen and (max-width: 992px) {
  nav .container .navbar-nav .nav-link {
    padding: 10px 0;
  }
}
nav .container .buttons a {
  text-decoration: none;
  color: white;
}
nav .container .buttons .button {
  padding: 16px 40px;
  background-color: #ff4820;
  text-decoration: none;
  font-weight: 500;
  color: white;
  border-radius: 8px;
}

.hero {
  overflow-x: hidden;
  margin-bottom: 100px;
}
@media screen and (max-width: 992px) {
  .hero .row {
    flex-direction: column-reverse;
  }
}
.hero .row .content-hero {
  padding-top: 120px;
}
@media screen and (max-width: 992px) {
  .hero .row .content-hero {
    padding-top: 20px;
  }
}
.hero .row .content-hero h1 {
  font-size: 62px;
  font-weight: 800;
  background: linear-gradient(to right, #ae67fa, #f49867);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 992px) {
  .hero .row .content-hero h1 {
    font-size: 48px;
  }
}
.hero .row .content-hero p {
  margin: 40px 0;
  width: 75%;
  line-height: 28px;
  color: #81afdd;
}
@media screen and (max-width: 992px) {
  .hero .row .content-hero p {
    width: 100%;
  }
}
.hero .row .content-hero .email-form {
  margin-bottom: 40px;
}
@media screen and (max-width: 992px) {
  .hero .row .content-hero .email-form {
    display: flex;
    flex-direction: column;
  }
}
.hero .row .content-hero .email-form input {
  width: 65%;
  background-color: #042c54;
  color: white;
  padding: 16px 28px;
  border-radius: 8px;
  outline: none;
  border: none;
}
@media screen and (max-width: 992px) {
  .hero .row .content-hero .email-form input {
    width: 100%;
    margin-bottom: 8px;
  }
}
.hero .row .content-hero .email-form .button {
  padding: 16px 40px;
  background-color: #ff4820;
  text-decoration: none;
  font-weight: 500;
  color: white;
  border-radius: 8px;
  width: 30%;
}
@media screen and (max-width: 992px) {
  .hero .row .content-hero .email-form .button {
    width: 180px;
  }
}
.hero .row .content-hero .peoples {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .hero .row .content-hero .peoples {
    flex-direction: column;
    align-items: start;
  }
}
.hero .row .content-hero .peoples img {
  margin-right: 20px;
}
@media screen and (max-width: 576px) {
  .hero .row .content-hero .peoples img {
    margin-bottom: 8px;
  }
}
.hero .row .content-hero .peoples span {
  font-size: 12px;
}
@media screen and (max-width: 992px) {
  .hero .row .image-hero {
    display: flex;
    justify-content: center;
  }
}
.hero .row .image-hero img {
  position: relative;
  top: -20px;
  left: -100px;
}
@media screen and (max-width: 992px) {
  .hero .row .image-hero img {
    position: static;
    width: 140%;
  }
}

.companies {
  margin-bottom: 100px;
}
.companies .logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .companies .logos {
    flex-direction: column;
  }
}
.companies .logos img {
  margin: 20px 40px;
}

/*# sourceMappingURL=main.css.map */
