@use '../modules/variables' as v;
@use '../modules//mixin' as m;

.about {
  margin-bottom: 160px;
  .about-wrap {
    background-color: v.$blue;
    padding: 60px 40px;
    .row-top {
      margin-bottom: 80px;
      h4 {
        @include m.heading-4();
        margin-bottom: 20px;
        &::before {
          @include m.line-top(20px);
          margin-top: -12px;
        }
      }
      p {
        @include m.paragraph(16px);
      }
    }

    .row-middle {
      margin-bottom: 100px;
      @include m.flex('', center);
      h3 {
        @include m.heading-3();
        @include m.text-gradient();
        @media screen and (max-width: 992px) {
          margin-bottom: 40px;
        }
      }

      .link-explore {
        @include m.flex(end, center);
        a {
          text-decoration: none;
          font-weight: 500;
          color: v.$light-orange;
        }
      }
    }

    .row-bottom {
      .benefit {
        padding: 0 16px;
        @media screen and (max-width: 992px) {
          margin-bottom: 60px;
        }
        h4 {
          @include m.heading-4();
          margin-bottom: 32px;

          &::before {
            @include m.line-top(20px);
          }
        }
        p {
          @include m.paragraph(16px);
        }
      }
    }
  }
}
