.companies {
  margin-bottom: 100px;
  .logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 576px) {
      flex-direction: column;
    }
    img {
      margin: 20px 40px;
    }
  }
}
