@use '../modules/variables' as v;
@use '../modules/mixin' as m;

.companies {
  margin-bottom: 120px;

  .logos {
    @include m.flex(center, center);
    flex-wrap: wrap;

    @media screen and (max-width: 576px) {
      flex-direction: column;
    }
    img {
      margin: 24px 40px;
    }
  }
}
