@use '../modules/variables' as v;
@use '../modules/mixin' as m;

.features {
  margin-bottom: 120px;
  .row-top {
    margin-bottom: 40px;
    .left {
      margin-bottom: 40px;
      h3 {
        @include m.heading-3();
        @include m.text-gradient();
        width: 95%;
        margin-bottom: 40px;
      }
      h6 {
        @include m.heading-6(v.$light-orange);
      }
    }

    .right {
      .feature {
        @include m.flex(between, '');
        @media screen and (max-width: 992px) {
          flex-direction: column;
        }
        margin-bottom: 24px;
        h5 {
          @include m.heading-5();
          width: 35%;
          margin-right: 40px;
          margin-bottom: 20px;
          &:before {
            @include m.line-top(6px);
          }
          @media screen and (max-width: 992px) {
            width: 100%;
          }
        }
        p {
          @include m.paragraph(14px);
          line-height: 24px;
          width: 65%;
          @media screen and (max-width: 992px) {
            width: 100%;
          }
        }
      }
    }
  }

  .row-bottom {
    @include m.flex('', center);
    .left {
      img {
        width: 100%;
        height: auto;
      }
    }

    .right {
      h6 {
        padding: 20px 0;
        &.light-teal {
          @include m.heading-6(v.$light-teal);
        }
        &.light-orange {
          @include m.heading-6(v.$light-orange);
        }
      }

      h3 {
        @include m.heading-3();
        @include m.text-gradient();
        margin-bottom: 24px;
      }
      p {
        @include m.paragraph(16px);
      }
    }
  }
}
