@use '../modules/variables' as v;
@use '../modules/mixin' as m;

.hero {
  overflow-x: hidden;
  margin-bottom: 100px;
  .row {
    @media screen and (max-width: 992px) {
      flex-direction: column-reverse;
    }
    .content-hero {
      padding-top: 120px;
      @media screen and (max-width: 992px) {
        padding-top: 20px;
      }
      h1 {
        font-size: 62px;
        font-weight: 800;
        background: linear-gradient(to right, v.$purple, v.$light-orange);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @media screen and (max-width: 992px) {
          font-size: 48px;
        }
      }

      p {
        margin: 40px 0;
        width: 75%;
        line-height: 28px;
        color: #81afdd;
        @media screen and (max-width: 992px) {
          width: 100%;
        }
      }

      .email-form {
        margin-bottom: 40px;
        @media screen and (max-width: 992px) {
          display: flex;
          flex-direction: column;
        }
        input {
          width: 65%;
          background-color: v.$blue;
          color: white;
          padding: 16px 28px;
          border-radius: 8px;
          outline: none;
          border: none;
          @media screen and (max-width: 992px) {
            width: 100%;
            margin-bottom: 8px;
          }
        }

        .button {
          @include m.button(v.$orange, 8px);
          width: 30%;
          @media screen and (max-width: 992px) {
            width: 180px;
          }
        }
      }

      .peoples {
        display: flex;
        align-items: center;
        @media screen and (max-width: 576px) {
          flex-direction: column;
          align-items: start;
        }
        img {
          margin-right: 20px;
          @media screen and (max-width: 576px) {
            margin-bottom: 8px;
          }
        }
        span {
          font-size: 12px;
        }
      }
    }

    .image-hero {
      @media screen and (max-width: 992px) {
        display: flex;
        justify-content: center;
      }
      img {
        position: relative;
        top: -20px;
        left: -100px;
        @media screen and (max-width: 992px) {
          position: static;
          width: 140%;
        }
      }
    }
  }
}
