@use '../modules/variables' as v;
@use '../modules/mixin' as m;

nav {
  .blur-1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    @media screen and (max-width: 992px) {
      display: none;
    }
  }

  .container {
    padding: 24px 0;
    .navbar-brand {
      font-weight: 700;
      margin-right: 60px;
    }
    .navbar-nav {
      @media screen and (max-width: 992px) {
        margin-bottom: 40px;
      }
      .nav-link {
        @include m.nav-link();
      }
    }

    .cta {
      .signin {
        @include m.button(transparent, 0);
        padding: 0;
      }
      .signup {
        @include m.button(v.$orange, 4px);
        margin: 0 0 0 24px;
      }
    }
  }
}
