@use 'variables' as v;

@mixin heading-6($color) {
  font-weight: 500;
  color: $color;
}
@mixin flex($direction: row, $justify: start, $items: start) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $items;
}

@mixin button($background-color, $radius) {
  padding: 16px 40px;
  background-color: $background-color;
  text-decoration: none;
  font-weight: 500;
  color: white;
  border-radius: $radius;
}

@mixin text-gradient() {
  background: linear-gradient(to right, v.$purple, v.$light-orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin line-top($margin) {
  content: '';
  display: block;
  width: 3rem;
  border-top: 4px solid transparent;
  margin-bottom: $margin;
  background: linear-gradient(to right, v.$purple, v.$light-orange) border-box;
}
